@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volkhov';
    src: url('./fonts/Volkhov-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/OpenSansCondensed-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family-Poppins: 'Poppins', sans-serif;
    --font-family-Volkhov: 'Volkhov', sans-serif;
    --font-family-Montserrat: 'Montserrat', sans-serif;
    --font-family-Montserrat: 'Open Sans', sans-serif;
    --font-family-GoogleSans: 'Google Sans', sans-serif;

    --color-dark: #080809;
    --color-light: #FFFFFF;
    --color-orange-light: #FF946D;
    --color-blue-light: #DFD7F9;
    --color-orange: #F15A2B;
    --color-blue-dark: #006380;
    --color-yellow: #F0BB1F;
    --color-orange-dark: #DF6951;
    --color-yellow-dark: #F1A501;
    --color-begie: #FFF1DA;
    --color-shadow-blue: #59B1E6;
    --color-blue-dark: #181E4B;
    --color-blue-alternative: #5E6282;
    --color-gray-alternative: #686D77;


    --font-width-Regular: 400;
    --font-width-Medium: 500;
    --font-width-SemiBold: 600;
    --font-width-Bold: 700;

    --font-size-main: 1.2em;
    --font-size-84: 84px;
    --font-size-50: 50px;
    --font-size-44: 44px;
    --font-size-33: 33px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-17: 17px;
    --font-size-16: 16px;
    --font-size-14: 14px;
    --font-size-13: 13px;  

    --container-size-width: 1440px;

    --border-button: 2px solid var(--color-dark);

    --z-index-1: 100;
    --z-index-2: 200;
    --z-index-3: 300;
    --z-index-4: 400;
    --z-index-5: 500;
    --z-index-6: 600;
    --z-index-7: 700;
    --z-index-8: 800;


    --transition-duration: 0.2s;
    --transition: all var(--transition-duration) ease;
}

.visibilly-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Body обрезает переполнение по горизонтали */

body{
    font-size: 16px;    
    font-family: var(--font-family-Poppins);
}

.header-main {
    display: none;
    max-width: calc(100vw - 150px - 150px);
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
    margin-inline: auto;
    font-family: var(--font-size-17);
}

.header-container-altarnative {
    width: 50px;
    aspect-ratio: 1;
    border: 2px solid currentColor;
    border-radius: 50%;
    display: none;
    transition: var(--transition);
}

.header-main::after {
    content: '';
    display: block;
    position: absolute;
    width: 766px;
    height: 872px;
    background: url('./icon/header/header-bg.png') center / contain no-repeat;
    right: 0px;
    top: -150px;
    z-index: -100;
}

.header-main .main-logo {
    flex-shrink: 0;
}

.header-main .main-logo img {
    width: 114px;
    height: 34px;
}

.header-main .main-menu-list {
    list-style-type: none;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(7, 1fr);
    font-size: var(--font-size-main);
    font-family: var(--font-family-GoogleSans);
    font-weight: var(--font-width-Medium);
}

.header-main .main-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.header-main .main-menu-link {
    text-decoration: none;
    color: var(--color-dark);
    transition: var(--transition);
}

.header-main .main-menu-item:nth-child(6) {
    position: relative;
    width: 100px;
}

.header-main .main-menu-item:nth-child(6) .main-menu-link {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-button);
    border-radius: 10px;
    white-space: nowrap;
}

.header-main .main-menu-item:last-child .main-menu-link span {
    font-size: 1.3em;
    display: inline-block;
    margin-left: 15px;
    rotate: 90deg;
    position: relative;
    transition: all 0.3s ease;
    user-select: none;
}

.header-main .main-menu-item:has(.menu-item-list-EN) {
    position: relative;
}

.header-main .main-menu-item:has(.menu-item-list-EN) ul {
  list-style-type: none;
  position: absolute;
  padding-left: 0;
  top: 30px;
  left: 20px;
  visibility: hidden;
}

.header-main .main-menu-item:has(.menu-item-list-EN) ul a {
  font-size: 1em;
  text-decoration: none;
  color: var(--color-dark);  
  transition: var(--transition);
}

.header-main .main-menu-item:has(.menu-item-list-EN) ul a li {
  padding-top: 10px;
  padding-bottom: 2px;
  padding-inline: 5px;
}

.header-main .main-menu-item .menu-item-list-EN span {
    transition-delay: 0.3s;
}



.content-banner {
    max-width: min(80vw, 1440px);
    padding-top: 18px;
    margin-inline: auto;
}

.banner {
    display: flex;
}

.banner-main-title {
    position: relative;
    z-index: var(--z-index-2);
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    font-size: var(--font-size-84);
    align-self: center;
}

.banner-best-destimination {
    color: var(--color-orange-dark);
    font-size: clamp(12px, 1.39vw, var(--font-size-20));
    font-weight: var(--font-width-Bold);
    text-transform: uppercase;
    line-height: 1.88;
}

.banner-title {
    font-family: var(--font-family-Volkhov);
    font-size: clamp(45px, 5.83vw, var(--font-size-84));
    font-weight: var(--font-width-Bold);
    line-height: 1;
    color: var(--color-blue-dark);
    white-space: nowrap;
}

.banner-title-box-line {
    position: relative;
}

.banner-title-box-line::before {
    content: '';
    display: inline-block;
    width: clamp(170px, 26.74vw, 385px);
    height: 12px;
    left: -15%;
    position: absolute;
    z-index: -100;
    background: url(/icon/banner/banner-line-title.png) center / contain no-repeat;
    bottom: 17%;
}

.banner-title-comment {
    color: var(--color-blue-alternative);
    font-size: var(--font-size-16);
    font-weight: var(--font-width-Medium);
    line-height: 1.88;
}

.banner-box-buttons {
    display: flex;
    column-gap: 44px;
}

.banner-button-orange {
    width: clamp(140px, 11.8vw, 170px);
    height: 60px;
    border: none;
    color: var(--color-light);
    background-color: var(--color-yellow-dark);
    font-size: clamp(15.5px, 1.25vw, 18px);
    white-space: nowrap;
    border-radius: 10px;
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    line-height: 1.28;
    text-align: center;
    transition: var(--transition);
}

.banner-box-circle {
    display: flex;
    column-gap: 15px;
    color: var(--color-orange-dark);
    transition: var(--transition-duration);
}

.banner-button-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 52px;
    aspect-ratio: 1;
    background-color: currentColor;
    user-select: none;
    transition: var(--transition);
    border-radius: 50%;
    box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
}


/* Доделать треугольник в круглой кнопке */

.banner-button-circle::after {
    content: '';
    width: 0;
    aspect-ratio: 1;
    position: relative;
    left: 2px;
    display: flex;
    border: 0 solid transparent;
    border-bottom-width: 6.5px;
    border-top-width: 6.5px;
    border-left: 11px solid var(--color-light);

}

.banner-button-circle-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: var(--color-dark);
}

.banner-button-circle-title::after {
    content: 'Play Demo';
    position: absolute;
    white-space: nowrap;
    color: currentColor;
    font-size: clamp(16px, 1.18vw, 17px);
}

.banner-treveller {
    display: flex;
    flex-shrink: 0;
    aspect-ratio: 1;
    width: min(53.13vw, 765px);
    left: -100px;
    position: relative;
}

.banner-picture-traveller {
    object-fit: scale-down;
    position: relative;
    z-index: var(--z-index-1);
}

@media (hover: hover) {
    /* Arrow in EN */
    .header-main .main-menu-item .menu-item-list-EN:hover span {
        rotate: 0deg;
        transform-origin: 0 0;
    }

    /* Border */
    .header-main .main-menu-item .main-menu-link.menu-item-border:hover {
        border: 2px solid #ef9f03;
        background-color: #ef9f03;
    }

    /* All footer link */
    .header-main .main-menu-item .main-menu-link:not(.menu-item-border, .menu-item-list-EN):hover {
        color: #ef9f03;
    }

    /* Link in list EN */
    .header-main .main-menu-item:has(.menu-item-list-EN) ul a:hover {
        color: #ef9f03;
    }

    .header-main .main-menu-item:has(.menu-item-list-EN) .menu-item-list-EN:hover + ul {
      visibility: visible;
    }

    .header-main .main-menu-item:has(.menu-item-list-EN) ul:hover {
      visibility: visible;
    }

    .banner-button-orange:hover {
        scale: 1.1;
    }

    .header-container-altarnative:hover {
        color: var(--color-yellow-dark);
    }

    .banner-box-circle:hover  {
        opacity: 0.9;
    }
}

@media (max-width: 750px) {
    .banner-treveller {
        display: none;
    }

    .content-banner {
        max-width: 90vw;
    }

    .banner {
        justify-content: center;
    }

    .banner-title-comment {
        max-width: 70%;
        flex-shrink: 1.5;
    }

    .banner-title-box-line::before {
        width: clamp(195px, 26.74vw, 385px);
    }
}

@media (max-width: 420px) {

    .banner-main-title {
        row-gap: 20px;
    }

    .banner-title {
        font-size: clamp(37px, 2.8vw, var(--font-size-84));
    }

    .banner-title-box-line::before {
        width: clamp(170px, 26.74vw, 385px);
    }

    .banner-title-comment {
        max-width: 100%;
    }

    .banner-box-buttons {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .banner-box-circle {
        width: clamp(160px, 45%, 200px);
        column-gap: 10px;
    }
}