@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;600;700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
*{
    -webkit-user-select: none;
}
body{
    font-size: 16px;
    font-family: 'Poppins';
}
.container{
    margin: 50px 6%;
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}
footer img{
    position: relative;
    top: -9px;
}
footer nav ul{
    position: relative;
    z-index: 4;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
footer nav ul li{
    font-size: 17px;
    font-weight: 400;
}
footer nav ul .effect, footer nav ul .sing{
    margin-right: 95px;
}
footer nav ul li a{
    text-decoration: none;
    color: #000;
    transition: all 500ms ease;
}
footer nav ul .effect:hover{
    color: #f0a501;
}
footer nav ul .sing a{
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 28px;
    transition: all 500ms ease;
}
footer nav ul .sing:hover>a{
    background: #f0a501;
}
/*Раскрывающийся список EN*/
footer nav ul .EN ul li{
    margin-top: 4px;
    padding: 8px 10px 8px 10px;
    transition: all .2s ease;
    border-radius: 10px;
}
footer nav ul .EN ul{
    position: absolute;
    top: 25px;
    right: -45px;
    display: flex;
    flex-direction: column;
}
footer nav ul .EN > ul{
    display: none;
}
footer nav ul .EN:hover> ul{
    display: initial;
}
footer nav ul .EN ul li:hover{
    background: #f0a501;
}
footer nav ul .EN:hover>a{
    color: #f0a501;
}

/*Текстовая часть с девушкой на чемодане*/
.BestDestimination{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.BestDestimination .travel{
    position: relative;
    width: 50%;
    z-index: 5;
}
.BestDestimination .travel h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 23px;
    color: #df6b52;
    padding-bottom: 15px;
}
.BestDestimination .travel pre{
    display: block;
    position: relative;
    z-index: 2;
    font-family: 'Volkhov';
    font-size: 84px;
    font-weight: 700;
    line-height: 89px;
}
.BestDestimination .travel .line{
    position: relative;
    z-index: 1;
    right: -265px;
    top: -205px;
}
.BestDestimination .travel p{
    font-weight: 400;
    font-size: 16px;
    opacity: 53%;
    width: 450px;
}
.BestDestimination .travel .block{
    padding-top: 40px;
}
.BestDestimination .travel .block button{
    font-size: 18px;
    font-weight: 500;
    display: block;
    position: relative;
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 18px 24px;
    background: #f0a501;
    transition: all 500ms ease;
    z-index: 2;
}
.BestDestimination .travel .block button:hover{
    transform: scale(110%);
}
.BestDestimination .travel .block img{
    position: relative;
    right: -188px;
    top: -69px;
    z-index: 1;
}
.BestDestimination .travel .block div{
    font-size: 17px;
    font-weight: 400;
    position: relative;
    right: -283px;
    top: -157px;
}

/*Девушка на чемодане*/
.BestDestimination .women .PictureWomen{
    position: relative;
    z-index: 4;
    right: 140px;
    top: -80px;
}
.BestDestimination .women .Decore{
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
}
.BestDestimination .women .Plane{
    position: relative;
    z-index: 4;
    right: 10px;
    top: -800px;
}
/*Gategory*/
.gategory{
    margin-top: -100px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    justify-items: end
}
.gategory div p, .gategory div h1{
    text-align: center;
}
.gategory div p{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    opacity: 70%;
}
.gategory div h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Volkhov';
}

.CountinueGategory{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.CountinueGategory .block{
    width: 194px;
}
.CountinueGategory .block:not(.two, .local) img{
    padding-bottom: 40px;
}
/*Переписать: сделать flex блоки прижатыми к верху для одинакового уровня рисунков*/
.CountinueGategory .local h4{
    padding-top: 10px;
}
.CountinueGategory .block p{
    font-size: 16px;
    font-weight: 400;
}
.CountinueGategory .two{
    position: relative;
    top: -26px;
    display: block;
    padding: 10px 15px;
    border-radius: 31px;
    background: #fff;
    /*box-shadow:-20px -20px 20px 19px #fbfbfb;*/
    z-index: 2;
}
.container .circle{
    position: relative;
    width: 117px;
    height: 117px;
    background: #dd6950;
    border-radius: 30px 0px 15px 0px;
    right: -314px;
    top: -104px;
    z-index: 1;
}

/*Top Selling*/
.TopSelling{
    padding-top: 50px;
    text-align: center;
}
.TopSelling p{
    font-weight: 600;
    font-size: 18px;
    opacity: 70%;
}
.TopSelling h1{
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 50px;
}
/*PictureSity*/
/*box-shadow: 0px 20px 20px 0px #e7e7e7;*/
.PictureSity{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.PictureSity .block .TextBlock {
    display: grid;
    grid-template-columns: ;
}
.PictureSity .block1 .TextBlock div::after {
    content: '10 Days Trip';
    display: block;
    font-size: 14px; /* Настройте размер шрифта по необходимости */
    color: #000; /* Настройте цвет текста по необходимости */
}
.PictureSity .block2 .TextBlock div::after {
    content: '12 Days Trip';
    display: block;
    font-size: 14px; /* Настройте размер шрифта по необходимости */
    color: #000; /* Настройте цвет текста по необходимости */
}
.PictureSity .block3 .TextBlock div::after {
    content: '28 Days Trip';
    display: block;
    font-size: 14px; /* Настройте размер шрифта по необходимости */
    color: #000; /* Настройте цвет текста по необходимости */
}